@import "foother.css";



body {
  background: #242526;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
  font-family: 'Edu SA Beginner', cursive;
}
.top-bottom {
  text-align: left;
  animation: slideUpDown 9s infinite alternate;
  color: #575F7D;/* Nombre de la animación y duración */
}

/* Definimos la animación con @keyframes */
@keyframes slideUpDown {
  from {
    transform: translateY(0); /* Comenzamos desde la posición original */
  }
  to {
    transform: translateY(430px); /* Terminamos 20px más abajo que la posición original */
  }
}

.navegacion {
  display: flex;
  flex-direction: column; /* Cambiamos el flujo de la navegación a vertical */
  align-items: flex-start;
  margin-left: 25px;
}

.izquierda {
  display: flex;
  flex-direction: column;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column; /* Cambiamos el flujo de la navegación a vertical */
    align-items: center; /* Centramos los elementos verticalmente */
}
.img-1  {
  max-width: 130px;
  max-height: 130px;
 border-radius: 20px;
 margin-top: 10px;
}
/* nav*/


.button-nav {
  position: relative; /* Necesitamos una posición relativa para el pseudo-elemento */
  text-decoration: none;
  color:#180a0af8;
  margin-top: 30px;
  transition: color 0.3s ease; /* Ajustamos la transición para el color */
}


.front {
  font-size: 20px;
}
.button-nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Iniciamos el ancho en 0 */
  height: 1px; /* Altura de la línea */
  background-color:#4d5357;
  transition: width 0.3s ease; /* Ajustamos la transición para el ancho */
}

.button-nav:hover::before {
  width: 100%; /* Aumentamos el ancho al 100% al pasar el cursor */
}

.button-nav:hover {
  color: #4d5357; /* Cambiamos el color al pasar el cursor */
}

.small {
  font-size: 10px;

}

/* here is goes the midel of the pg*/

/* Estilos cuando se pasa el cursor por encima del botón */


.alinear-derecha{
  margin-top: 90px;
  display: flex;
  flex-direction: column; /* Cambiamos la dirección a columna para que los elementos se apilen verticalmente */
  justify-content: center; /* Alineamos el contenido al centro vertical */
  align-items: center; /* Alineamos el contenido al centro horizontal */
  height: 90vh; /* Altura de la sección */
  margin-right: 40rem;


}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px  rgba(0, 0, 0, 0.2);
  background-image: url(./images/cara,2.jpg);
  background-size: cover;
  background-position: center;
 /* Ajustamos el tamaño de la imagen */
  background-repeat: no-repeat;

}



.list-inline {
  display: inline-block;
  padding: 0px 20px;
}
.kit {
  list-style: none;
  list-style: none;
  padding-left: 0px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color:  #575F7D;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20%;
}
.button:hover {
  background-color: #3d21213b; /* Cambiar el color de fondo cuando el cursor está encima */
}


/*  here is goes the foother */



/*  finish the is goes the foother */





/*  @media quiery */
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

}

footer {
  margin-bottom: 0;
}

.follo {
  color: rgb(142, 1, 1);
 padding-left: 42px;
}


.color-r {
  color: #575F7D;
  font-size: 20px;
  transition: font-size .3s ease;
}

.color-r:hover {
  font-size: 30px;
}

 /* here is goes de contacto */

 .navegacion-f {
  display: flex;
   /* Cambiamos el flujo de la navegación a vertical */
  align-items: flex-end;
}
.button-nav-f {
  display: flex;
  align-items: center;
  justify-content: center; /* Alinea el contenido horizontalmente en el centro */
  position: relative;
  text-decoration: none;
  color: #2e313d;

  margin-top: 30px;
  transition: color 0.3s ease;
  margin-left: auto; /* Ajusta el margen izquierdo a 'auto' para centrar */
  margin-right: auto; /* Ajusta el margen derecho a 'auto' para centrar */
  margin-bottom: 120px;
}
.button-nav-f::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Iniciamos el ancho en 0 */
  height: 1px; /* Altura de la línea */
  color: #c6cada;
  transition: width 0.3s ease; /* Ajustamos la transición para el ancho */
}

.button-nav-f:hover::before {
  width: 100%;
  color: #c6cada; /* Aumentamos el ancho al 100% al pasar el cursor */
}


 .imagen-contacto{
  background-position: center center;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}



.imgs {
  max-width: 30rem;
  max-height: 30rem;
  margin: auto; /* Centra la imagen horizontalmente utilizando margen automático */
}

.card-contacto {
  margin: 1rem 1rem;
  text-align: center;
  border: 4px solid transparent; /* Cambiamos el color del borde a transparente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: rgb(122, 140, 147);
  background: radial-gradient(
    circle,
    rgba(122, 140, 147, 1) 27%,
    rgba(74, 80, 82, 1) 86%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /* Agregamos posición relativa para que funcione el pseudo-elemento */

  /* Agregamos las animaciones */
  animation: lightBorder 2s linear infinite alternate;
}

/* Definimos la animación */
@keyframes lightBorder {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgba(53, 35, 35, 0.5); /* Cambia el color del borde para crear el efecto de luz */
  }
}

/* Estilo para el pseudo-elemento */
.card-contacto::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 4px solid rgba(53, 35, 35, 0.3); /* Color del borde "de luz" */
  border-radius: 20px; /* Ajusta el radio para que coincida con el radio del contenedor */
  pointer-events: none; /* Evita que el pseudo-elemento interfiera con el contenido */
}


.bd-color {
  color: #88929b;
  position: relative;
}

.bd-color::after {
  content: "";
  display: block;
  width: 20px; /* Ancho inicial de la barra */
  height: 2px; /* Altura de la barra */
  background-color: #88929b;
  position: absolute;
  bottom: -6px; /* Posiciona la barra debajo del texto */
  left: 50%; /* Centra la barra horizontalmente */
  transform: translateX(-50%); /* Ajusta la posición horizontal */
  animation: barraAnimation 2s infinite alternate; /* Agregamos la animación */
}

/* Definimos la animación */
@keyframes barraAnimation {
  from {
    width: 20px; /* Ancho inicial de la barra */
  }
  to {
    width: 40px; /* Ancho máximo de la barra */
  }
}

